.Adder{
    position: fixed;
    z-index: 5;
    display: block;
    top: 10%;
    background-color: white;
    width: 50%;
    right: 1%;
    /* display: none; */
    backdrop-filter: blur(5px);
    border-radius: 2px;
    box-shadow: 2px 2px 2px 2px gray;

}

.Adder_head{
    display: flex;
    justify-content: space-between;
    margin: 0px 20px;
    align-items: center;
}

.adder_div_2{
    display: flex;
    gap: 20px;
}

.adder_div_2 span{
    cursor: pointer;
}

.adder_div_2 button{
    padding:6px 15px;
    border: none;
    cursor: pointer;
    border-radius: 2px;
}

.adder_div_2 button:hover{
    background-color: rgb(104, 173, 0);
    color: white;
}



.Adder_body{
    display: flex;
    gap: 10px;
    flex-direction: column  ;
    margin: 30px;
}

.Adder_body input{
    width: 50%;
    height: 25px;
    border: none;
    border-radius: 2px;
    padding: 5px;
    background-color: rgb(241, 241, 241);
}

.Adder_body input{
    outline: none;
}



input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}